
# Сервер
PORT=
NODE_ENV=

# neonDB prisma loads this line 

# Логирование

LOG_LEVEL=



# Порт для WebSocket
WS_PORT=

# Порт для WebSocket Secure
WS_SECURE_PORT=


#JWT
JWT_SECRET=
JWT_EXPIRATION=
# JWT Refresh
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRATION=


#base url for frontend
BASE_URL=

# Email
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=

#openAI
OPENAI_API_KEY=


# Порт для Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=          # Leave empty for local
REDIS_USE_TLS=false

# Дефолтні значення для БД (Локально, для докера)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=dogood
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}

#Stripe
STRIPE_SECRET_KEY=sk_test_************************
STRIPE_PUBLISHABLE_KEY=pk_test_************************